*{
  margin: 0px;
  padding: 0px;
}
#container1 {
  width: 100vw;
  height: 100vh;
  background-image: url(./bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
#container2{
  width: 650px;
  height: 480px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
}
.converter{
  width: 600px;
  height: 150px;
  background-color: rgb(206, 204, 204);
  border-radius: 10px;
  margin: 20px auto;
  opacity: 100%;
  display: flex;
  position: relative;
}
#convert{
  width: 600px;
  height: 100px;
  background-color: rgb(4, 4, 82);
  border-radius: 10px;
  margin: 5px 25px;
  position: relative;
  color: white;
  font-size: 40px;
  font-weight: bold;
}
h3{
  margin-left: 5px;
}
h4{
  position: absolute;
  right: 5px;
}
#value{
  width: 400px;
  height: 45px;
  position: absolute;
  top: 60px;
  left: 5px;
  border: none;
  background-color: rgb(206,204,204);
  font-size: 40px;
  font-weight: bold;
}
#currency{
  width: 100px;
  height: 30px;
  position: absolute;
  right: 5px;
  top: 60px;
  background-color: rgb(206,204,204);
  border: none;
  font-size: 25px;
  font-weight: bold;
}
#swap{
  height: 30px;
  width: 50px;
  border-radius: 10px;
  background-color: aqua;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 160px;
  left: 300px;
}
#swap2{
  border-radius: 10px;
  height: 40px;
  width: 60px;
  border-radius: 2px solid black;
  background-color: rgb(4,4,82);
  color: white;
  font-size: 20px;
  font-weight: bold;
}
