*{
  margin: 0px;
  padding: 0px;
}
#container1{
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}
#container2{
  width: 60vw;
  height: 150px;
  border-radius: 10px;
  background-color: rgb(184, 115, 12);
  margin-top: 50px;
}
#container3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}
#container4{
  display: flex;
  align-items: center;

}
h1{
  margin-bottom: 20px;
  margin-left: 20vw;
}
#range{
  margin-left: 30px;
  margin-right: 10px;

}
#pass{
  width: 50vw;
  height: 30px;
  font-size: 20px;
  border-radius: 5px 0px 0px 5px;
  border: 0px;
}
button{
  width: 90px;
  height: 30px;
  font-size: 20px;
  border-radius: 0px 5px 5px 0px;
  border: 0px;
  background-color: blueviolet;
}
#check1,#check2{
  margin-right: 5px;
  margin-left: 60px;
  width: 20px;
  height: 20px;
}